{% load static %}
<footer class="rodape"> 
    <div class="pesquisa">
        <h3>FIQUE POR DENTRO</h3>
        <p>Cadastre-se e seja o primeiro a saber sobre nossos produtos, ofertas, comodidades e muito mais.  
        Respeitamos sua privacidade e nunca compartilharemos suas informações com fornecedores externos.</p>
    </div><br>

    <div class="cadastro">
        <form name="projeto" method="post" action="index.html#dados" id="cadastroForm">
            <label for="correio"></label>
            <input type="email" placeholder="Digite seu E-mail" name="correio" id="correio" class="form-control" required>
            <input type="submit" class="btn btn-outline-success" value="Cadastre-se">   
        </form>
    </div><br><br>

    <hr>
    <p class="dados">&copy; Dados adicionais</p>
    
    <div class="termo">
        <h3>Suporte</h3>
    
        <a href="{% url 'termo' %}">Política de Privacidade</a> <br>
        
        <h3>Contato</h3>
        <address>
            <p><strong>Email:</strong> <a href="mailto:royal-multimarcas@gmail.com">royal-multimarcas@gmail.com</a></p>
            <p><strong>Telefone:</strong> <a href="tel:+5521999990000">(21) 99999-0000</a></p>
        </address>
    </div>
    <div class="feedback">
        <a href="{% url 'conosco' %}">Fale Conosco</a>
    </div>

</footer>

<script src="{% static 'js/jwc.js' %}"></script>