{% load static %}
<header>
    <div class="fixed-top">
        <img src="{% static 'img/logotipo/multimarcas.jpg' %}" alt="Logo do site">
    </div>
    <nav class="nav-menu">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about'%}">Sobre</a></li>
            <li><a href="{% url 'contato'%}">Contato</a></li>
        </ul>
    </nav>
    <nav class="links">
        <ul>
            <li>
                <a href="https://www.instagram.com" target="_blank"> <i class="fa-brands fa-instagram"></i></a>
            </li>


            <li>
                <a href="https://facebook.com" target="_blank"> <i class="fa-brands fa-facebook-f"></i> </a>
            </li>


            <li>
                <a href="https://www.tiktok.com/upload?lang=pt-BR" target="_blank"> <i
                        class="fa-brands fa-tiktok"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>