{% extends "global/base.html" %}
{% load static %}

{% block main %}
    <main>
        <h3 class="titu">Sobre Nós</h3>

        <section class="about">
            <!-- Imagem no topo -->
            <div class="img-left">
                <img src="image/slides/sobre.jpg"  alt="Nosso-Trabalho">
            </div>
            
            <!-- Texto abaixo da imagem -->
            <article class="about__text right">
                <p>Fundada em 2022, A empresa Royal Multimarcas surge com a missão de oferecer soluções inovadoras e
                    práticas
                    no universo das vendas online. Com um compromisso inabalável com a qualidade, buscamos proporcionar aos
                    nossos clientes uma experiência de compra simples, segura e satisfatória. Desde o nosso início, temos
                    trabalhado incessantemente para trazer produtos de alta qualidade, com preços competitivos e entrega
                    eficiente.</p>

                <p>Nosso diferencial está na atenção personalizada que oferecemos aos nossos clientes. Cada compra é
                    tratada com o máximo de cuidado, buscando sempre superar as expectativas e construir uma relação de
                    confiança. Investimos constantemente em tecnologia para garantir uma plataforma intuitiva, com recursos
                    que facilitam o processo de navegação e compra.</p>

                <p>Estamos orgulhosos do caminho que percorremos até aqui e seguimos em frente com a missão de ser uma
                    referência em e-commerce, proporcionando conveniência e satisfação para nossos clientes. Nosso
                    compromisso é com a excelência em cada etapa do processo, desde o atendimento até a entrega.</p>

                <p>Agradecemos por escolher a nossa empresa para suas compras online. Estamos sempre em busca de melhorar e
                    trazer as melhores soluções para você!</p>
                </article>    
        </section>
    </main>
{% endblock main %}